{% extends "template.html" %}
{% block title %}
PrintAI details of printer {{ printer.id }}
{% endblock %}
<div id="layoutSidenav_content">
    <main>
        {% block main_content %}
        <div class="container-fluid px-4">
            <h1 class="mt-4">Printer Number {{printer.id}} Details</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Dashboard</a></li>
                <li class="breadcrumb-item active">Printers</li>
            </ol>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-info-circle me-1"></i>
                    Printer Status Description
                </div>
                <div class="card-body">
                    <p>The printer at the address: <strong>{{ printer.ip_address }}</strong> is
                        {% if printer.ping == True %}
                        <span class="text-success">online</span> and {{message}} on this device.
                        {% else %}
                        <span class="text-danger">offline</span> showing error: <q>{{message}}</q>.
                        {% endif %}
                    </p>
                    <p><strong>Status:</strong> {{ printer_status }}</p> <!-- Add this line to show the status -->
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-thermometer-half me-1"></i>
                    Grafana dashboard
                </div>
                <div class="card-body">
                    <!-- {{temprature_history}} -->
                    <p>To view the dashboard, please click the link below:</p>
                    <a href="http://raspiprintai:3000/dashboard/snapshot/ELgHGjcLq0GVYfsDnORqr0cgYTQ7KMj0" target="_blank">Open Dashboard</a>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-tasks me-1"></i>
                    Current Jobs
                </div>
                <div class="card-body">
                    <h3>Printer {{printer.id}} Current Jobs</h3>
                    {{printer_info}}
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-history me-1"></i>
                    Current Temprature 
                </div>
                <div class="card-body">
                    {{print_history}}
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-info-circle me-1"></i>
                    Additional Information
                </div>
                <div class="card-body">
                    <p><strong>Printer:</strong> {{printer}}</p>
                    <p><strong>Printer Info:</strong> {{printer_info}}</p>
                    <p><strong>Current Temperature List:</strong> {{current_temperature}}</p>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-database me-1"></i> Last Print Data
                </div>
                <div class="card-body">
                    {% if last_print_data %}
                    <p>Print ID: {{ last_print_data.print_id }}</p>
                    <p>Duration: {{ last_print_data.print_duration }} seconds</p>
                    <p>Filament Used: {{ last_print_data.filament_used }} grams</p>
                    {% if last_print_data.state_id %}
                    <p>Printer State: {{ last_print_data.state_id }}</p>
                    {% else %}
                    <p>No last print data available.</p>
                    {% endif %}
                    {% else %}
                    <p>No last print data available.</p>
                    {% endif %}
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-file-csv me-1"></i> Export Data
                </div>
                <div class="card-body">
                    <form action="{% url 'export_csv' printer.id %}" method="GET">
                        <label for="start_time">Start Time:</label>
                        <input type="datetime-local" name="start_time">
                        <label for="end_time">End Time:</label>
                        <input type="datetime-local" name="end_time">
                        <button type="submit">Export CSV</button>
                    </form>
                </div>
            </div>
        </div>
        {% endblock %}
    </main>
</div>