{% extends "template.html" %}
{% block title %}
Printer Cards
{% endblock %}

<body>
  <div id="layoutSidenav_content">
    <main>
      {% block main_content %}

      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Printer Cards</h1>
            <p class="lead text-body-secondary">
              Below is a list of all the printers that are currently connected to the system.
            </p>
            <a href="{% url 'printer_list' %}" class="btn btn-primary my-2">Your printers list <i class="fa-solid fa-rectangle-list"></i></a>
            <a href="#" class="btn btn-secondary my-2">Add a new printer <i class="fa-solid fa-plus"></i></a>
            </p>
          </div>
        </div>
      </section>

      <div class="album py-5 bg-body-tertiary">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for printer in printers %}
            <div class="col">
              <a href="{% url 'printer_detail' printer.id %}" class="card-link">
                <div class="card shadow-lg fixed-card  {% if printer.ping %}bg-light border-success {% else %}bg-light border-primary {% endif %}">
                  <!-- <iframe class="full-view-iframe" src="{{ printer.ip_address }}/webcam/?action=stream" allowfullscreen></iframe> -->
                  <img id="webcam_image" data-bind="css: { flipH: settings.flipH(), flipV: settings.flipV() }, event: { load: onWebcamLoaded, error: onWebcamErrored }, visible: !webcamError()" src="{{ printer.ip_address }}/webcam/?action=stream" style="">
                  <div class="card-body card-content-center">
                    <p class="card-text">URL of the printer : {{ printer.ip_address }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <!-- Other content -->
                    </div>
                  </div>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

  </div>
  {% endblock main_content %}
  </main>
  </div>
  </div>
</body>